<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mogenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>timetable Dev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>timetable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>11247C3E1DBFB7BF00557851</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119E2C8F1DE3059D00DC162F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119E2CA81DE3060D00DC162F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119E2CBE1DE3065600DC162F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11C4A6E71DBE69F400DB103A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11D1A7241DE5A15F004465D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
